In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-30 10:25:15,-23.1203,-134.9692,72.39,75,37,16.55
1,1,Mar Del Plata,AR,2022-07-30 10:14:51,-38.0023,-57.5575,47.88,78,0,3.00
2,2,Hobart,AU,2022-07-30 10:25:16,-42.8794,147.3294,44.06,79,75,4.61
3,3,Grindavik,IS,2022-07-30 10:18:28,63.8424,-22.4338,50.47,71,75,11.50
4,4,Korla,CN,2022-07-30 10:25:16,41.7597,86.1469,91.11,21,94,14.32

In [4]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
#Geographic center of Earth
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = eat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)
                                                                 for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hambantota,LK,2022-07-30 10:23:02,6.1241,81.1185,83.64,71,93,19.08
18,18,Hithadhoo,MV,2022-07-30 10:18:24,-0.6000,73.0833,80.58,79,100,16.15
20,20,Teguise,ES,2022-07-30 10:23:07,29.0605,-13.5640,75.42,65,20,26.46
21,21,Bengkulu,ID,2022-07-30 10:19:50,-3.8004,102.2655,82.27,76,63,8.72
23,23,Bereda,ES,2022-07-30 10:23:08,43.2686,-7.5406,76.41,75,23,7.63
24,24,Cabo San Lucas,MX,2022-07-30 10:21:31,22.8909,-109.9124,81.61,67,58,5.79
30,30,Butaritari,KI,2022-07-30 10:25:22,3.0707,172.7902,82.51,72,86,14.97
35,35,Sigli,ID,2022-07-30 10:23:11,5.3848,95.9609,81.61,73,100,5.93
36,36,Havre,FR,2022-07-30 10:23:11,49.5833,0.3333,81.19,73,20,10.36
37,37,Trincomalee,LK,2022-07-30 10:23:12,8.5711,81.2335,85.96,65,94,6.60

In [26]:
preferred_cities_df.count()

City_ID       234
City          234
Country       233
Date          234
Lat           234
Lng           234
Max Temp      234
Humidity      234
Cloudiness    234
Wind Speed    234
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5       Hambantota      LK     83.64   6.1241   81.1185
18       Hithadhoo      MV     80.58  -0.6000   73.0833
20         Teguise      ES     75.42  29.0605  -13.5640
21        Bengkulu      ID     82.27  -3.8004  102.2655
23          Bereda      ES     76.41  43.2686   -7.5406
24  Cabo San Lucas      MX     81.61  22.8909 -109.9124
30      Butaritari      KI     82.51   3.0707  172.7902
35           Sigli      ID     81.61   5.3848   95.9609
36           Havre      FR     81.19  49.5833    0.3333
37     Trincomalee      LK     85.96   8.5711   81.2335

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hambantota,LK,83.64,6.1241,81.1185,Bungalow 63
18,Hithadhoo,MV,80.58,-0.6000,73.0833,Scoop Guest House
20,Teguise,ES,75.42,29.0605,-13.5640,B&B La Casona de Nazaret
21,Bengkulu,ID,82.27,-3.8004,102.2655,Grage Hotel Bengkulu
23,Bereda,ES,76.41,43.2686,-7.5406,Pazo de Verdes
24,Cabo San Lucas,MX,81.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
30,Butaritari,KI,82.51,3.0707,172.7902,Isles Sunset Lodge
35,Sigli,ID,81.61,5.3848,95.9609,Losmen Dua Mali
36,Havre,FR,81.19,49.5833,0.3333,gite bois jourdain
37,Trincomalee,LK,85.96,8.5711,81.2335,Welcombe Hotel

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))